body{
	margin: 0; 
	padding-top: 80px;
	background-color: #82a8ff;
}
#top-menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #808080;
	height: 80px;
	text-align: center;
	font-size: 0;
}
#content-box{
	background-color: #04043b;
	width: 1024px;
	min-height: 160px;
	margin: auto;
	border-left: groove 5px #333;
	border-right: ridge 5px #333;
}
#box1{
	position: relative;
}
.box{
	width: 100%;
}
.box-img{
	width: 100%;
}#top-menu a{
	text-decoration: none;
}
#top-menu .btn{
	height: 30px;
	padding: 5px;
	border: ridge 5px #70b0ba;
	display: inline-block;
	background-color: #caccca;
	color: #000;
	font-size: 30px;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
	box-shadow: 0 0 10px #000;
	transition-duration: 200ms;
	transition-property: box-shadow;
}
#top-menu .btn:hover{
	box-shadow: 0 0 5px #000
}
#box1 .inner{
	position: absolute;
	top: 37%;
	width: 90%;
	transform: translateY(-37%);
	padding-left: 5px;


}
#box1 .inner .big-text{
	color: #000;
	text-shadow: 0 0 3px #fff;
	font-size: 36px;
	font-family: fantasy;
}
#box1 .inner .small-text{
	color: #000;
	text-shadow: 0 0 3px #fff;
	font-size: 24px;
	font-family: fantasy;
}
#box1 .inner a{
	text-decoration: none;
	color: #fff;
}
#box1 .inner .btn{
	background-color: #081d69;
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	border: ridge 5px  #3d5ed9;
	text-align: center;
	font-size: 36px;
	font-family: fantasy;
}
#footer{
	padding: 10px;
	left: 0;
	right: 0;
	background-color: #000000;
	text-align: center;
	color: #aaa;
	font-size: 20px;
}
#footer a{
	color: #aaa;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}
#box2{
	color: #fff;
	text-align: center;
}
#box2 table{
	border-color: #0000de;
	color: #fff;
	margin: auto;
	font-size: 24px;
}
#box2 tr{

}
#box2 td{
	position: relative;
	height: 200px;
	width: 200px;
	background-color: #0000de;
}
#box2 .el{
	height: 100%;
	background-size: cover;
	background-position: center center;
}
#t-el-1{
	background-image: url("img/5.jpg");
}
#t-el-2{
	background-image: url("img/6.jpg");
}
#t-el-3{
	background-image: url("img/7.jpg");
}
#t-el-4{
	background-image: url("img/8.jpg");
}
#t-el-5{
	background-image: url("img/9.jpg");
}
#t-el-6{
	background-image: url("img/10.jpg");
}
#t-el-7{
	background-image: url("img/11.jpg");
}
#t-el-8{
	background-image: url("img/12.jpg");
}
#box2 .caption{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 50px;
	background-color: rgba(68, 64, 145, 0.6);
	text-align: center;
}
#box2 .caption .name{
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}
#box2 .caption .text{
	padding-left:50%;
	padding-right: 50%;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 0;
	transition-duration: 400ms;
	transition-property: font-size, padding-left, padding-right, padding-top, 
	padding-bottom;

}
#box2 td:hover .caption .text{
	font-size: 15px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}































